* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #161f51;
}

#cover {
	width: 300px;
	height: 300px;
}

#player {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px
}

#artist {
	padding: 10px;
}

.btn {
	color: white;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid white;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}